@* Declare Students Object*@
@model Students;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/jobayer_alam_24_ICTBD_MVC_project_3.styles.css" asp-append-version="true" />
</head>
<body>

     <div class="container mt-5">
        <!-- Student Table -->
        <h3>Student Data</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Field Name</th>
                    <th>Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Student ID</td>
                    <td>@Model.StudentsID</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>@Model.Age</td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td>@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <td>Eamil</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Grade</td>
                    <td>@Model.Grade</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>@Model.Address</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>