@using jobayer_alam_24_ICTBD_MVC_project_3.ViewModels
@* Multiple View  *@
@model Alldata;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Data</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/jobayer_alam_24_ICTBD_MVC_project_3.styles.css" asp-append-version="true" />
</head>
<body>
      <div class="container mt-5">
        <h3 class="text-center mb-4">Students - Courses - Books</h3>
        <table class="table table-bordered text-center">
            <thead class="table-primary">
                <tr>
                    <th class="align-middle">Category</th>
                    <th class="align-middle">Fields</th>
                    <th class="align-middle">Values</th>
                </tr>
            </thead>
            <tbody>
                <!-- Student Data -->
                <tr>
                    <td class="table-info" rowspan="6">Student</td>
                    <td class="bg-purple text-black">Student ID</td>
                    <td class="table-light">@Model.Student.StudentsID</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Name</td>
                    <td class="table-light">@Model.Student.Name</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Age</td>
                    <td class="table-light">@Model.Student.Age</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Phone Number</td>
                    <td class="table-light">@Model.Student.PhoneNumber</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Email</td>
                    <td class="table-light">@Model.Student.Email</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Address</td>
                    <td class="table-light">@Model.Student.Address</td>
                </tr>

                <!-- Course Data -->
                <tr>
                    <td class="table-info" rowspan="6">Course</td>
                    <td class="bg-purple text-black">Course ID</td>
                    <td class="table-light">@Model.Course.CourseID</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Name</td>
                    <td class="table-light">@Model.Course.Name</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Instructor Name</td>
                    <td class="table-light">@Model.Course.InstructorName</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Price</td>
                    <td class="table-light">@Model.Course.Price</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Total Enrolled Students</td>
                    <td class="table-light">@Model.Course.TotalEnrolledStudents</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Course Duration</td>
                    <td class="table-light">@Model.Course.CourseDuration</td>
                </tr>

                <!-- Book Data -->
                <tr>
                    <td class="table-info" rowspan="6">Book</td>
                    <td class="bg-purple text-black">Book ID</td>
                    <td class="table-light">@Model.Book.BookID</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Title</td>
                    <td class="table-light">@Model.Book.Title</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Author</td>
                    <td class="table-light">@Model.Book.Author</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Genre</td>
                    <td class="table-light">@Model.Book.Genre</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">Publisher</td>
                    <td class="table-light">@Model.Book.Publisher</td>
                </tr>
                <tr>
                    <td class="bg-purple text-black">ISBN</td>
                    <td class="table-light">@Model.Book.ISBN</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>